
.header-container {
    background-color: burlywood;
    color: #fff;
    padding: 20px;
  }
  
  .nav {
    text-align: center;
    margin: 10px 0;
  }
  
  .nav-list {
    list-style: none;
    padding: 0;
  }
  
  .nav-link {
    text-decoration: none;
    color: purple;
    margin: 0 10px;
  }
  
  .subscribe-section {
    text-align: right;
  }
  
  .subscribe-heading {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: right;
  }
  
  .subscribe-form {
    display: flex;
    align-items: right;
    justify-content: right;
  }
  
  .subscribe-input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .subscribe-button {
    background-color: black;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  