
body {
  width: 100vw;
  height: fit-content;
  background-image: url(/public/backgroung.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Arial, sans-serif;
  margin: 0;

}

.header-container {
  background-color: burlywood;
  color: #fff;
  padding: 20px;
}

.footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
}


.content {
  flex: 1;
}
